* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    scroll-behavior: smooth;
}

.nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    padding: 7px 0;
    transition: all 1s ease-in-out;
}

.toggles {
    transform: translateY(calc(-100% + -2px));
    opacity: 0;
}

.container {
    width: 87%;
    margin: 0 auto;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icons {
    display: none;
}

.left-logo-ul {
    display: flex;
    gap: 70px;
    align-items: center;
}

.logo img {
    width: 90px;
}

.right-ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.right-ul li a {
    font-size: 13px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    transition: all 0.4s ease-in-out;
}

.right-ul li a:hover {
    color: orange;
}

.right-icons {
    display: flex;
    gap: 15px;
}

.right-icons i {
    font-size: 17px;
    color: black;
    cursor: pointer;
}

#basket {
    position: relative;
}

#basket span {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    font-size: 10px;
    font-weight: 400;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    padding: 5px 0;
    background-color: #000;
    text-align: center;
    position: relative;
}

.up a {
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.close1 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.last {
    padding: 7px 0;
}

.aside1 {
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2222;
    transform: translateX(calc(-100% + -50px));
    transition: all 0.4s ease-in-out;
}

.aside-container {
    width: 90%;
    margin: 0 auto;
}

.close2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.aside-ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.aside-ul li a {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0;
    display: block;
    transition: all 0.4s ease-in-out;
}

.aside-ul li a:hover {
    color: orange;
}

.goToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(211, 147, 29);
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2222;
    transform: translateY(calc(100% + 20px));
    transition: all 0.4s ease-in-out;
}

.load{
    position: fixed;
    inset: 0;
    z-index: 22222;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    border-bottom: 3px solid transparent;
    animation: rotate 10s infinite ease-in-out;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(10000deg);
    }
}

.hero-image {
    width: 100%;
    height: 60vh;
    background-image: url(../imgs/hero-img.webp);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.hero-content {
    text-align: center;
    width: 40%;
}

.hero-content h4 {
    font-size: 15px;
    font-weight: 400;
}

.hero-content h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 15px 0;
}

.hero-content button {
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 25px;
    transition: all 0.4s ease-in-out;
}

.hero-content button:hover {
    color: black;
    background-color: transparent;
}

.imgs {
    padding: 20px 0;
}

.imgs-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left-image {
    width: calc((100% - 20px) / 2);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.left-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.left-image:hover img {
    transform: scale(1.1);
}

.opac {
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
}

.top {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.bot {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.left {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.right-images {
    width: calc((100% - 20px) / 2);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.half-cards {
    width: calc((100% - 20px) / 2);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.half-cards img {
    width: 100%;
    display: block;
    transition: all 0.5s ease-in-out;
}

.half-cards:hover img {
    transform: scale(1.1);
}

.full-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.full-card img {
    width: 100%;
    display: block;
    transition: all 0.5s ease-in-out;
}

.full-card:hover img {
    transform: scale(1.1);
}

.products {
    padding: 30px 0;
}

.news {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 30px;
}

.news li a {
    font-size: 15px;
    font-weight: 500;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}

.active {
    color: #000 !important;
}

.products-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cards {
    width: calc((100% - 90px) / 4);
}

.image {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.spans {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 2;
}

.spans span {
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.sale {
    background-color: red;
}

.new {
    background-color: black;
}

.image img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.6s ease-in-out;
}

.img2 {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.image:hover .img2 {
    opacity: 1;
}

.image:hover img {
    transform: scale(1.1);
}

.icons {
    position: absolute;
    bottom: 10px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}

.cards:hover .icons {
    opacity: 1;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #585858;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon:hover {
    background-color: black;
}

.icon::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent #585858 transparent transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.icon::before {
    content: 'add to wishlist';
    font-size: 12px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    padding: 4px 10px;
    text-transform: capitalize;
    background-color: #585858;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 4px), -50%);
}

.icon::after,
.icon::before {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.icon:hover::after,
.icon:hover::before {
    opacity: 1;
}

.four-buttons {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.cards:hover .four-buttons {
    opacity: 0;
}

.times {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
}

.times h4 {
    display: block;
    font-size: 11px;
    font-weight: 700;
}

.times p {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.card-body {
    padding: 10px 5px;
}

.card-body h5 {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.card-body h5:hover {
    color: gray;
}

.disc {
    display: flex;
    gap: 5px;
    align-items: center;
}

.discount {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: line-through;
}

.price {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.decors {
    padding: 30px 0;
}

.decors-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cards2 {
    width: calc((100% - 60px) / 3);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.cards2 img {
    width: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}

.cards2:hover img {
    transform: scale(1.1, 1.1);
}

.info {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    line-height: 1.2;
}

.info h5 {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(73, 73, 73);
}

.info h4 {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.foot {
    padding: 50px 0;
    background-color: #f1f1f1;
}

.foot-content {
    text-align: center;
}

.foot-content h4 {
    font-size: 14px;
    font-weight: 500;
}

.foot-content p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(73, 73, 73);
    margin: 20px 0;
}

.foot-input {
    width: 550px;
    margin: 0 auto;
    display: flex;
}

.foot-input input {
    width: 85%;
    padding: 9px 9px 9px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    color: black;
    font-size: 14px;
}

.sub {
    width: 15%;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 9px 0;
    background-color: black;
    cursor: pointer;
}

.space {
    margin: 20px 0;
}

.four-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.four-icons i {
    font-size: 15px;
    color: rgb(73, 73, 73);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.four-icons i:hover {
    color: red;
    transform: translateY(-30%);
}

.foot-end {
    padding: 40px 0;
    background-color: black;
    border-top: 1px dotted white;
}

.foot-end-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-end-row h4 {
    font-size: 13px;
    font-weight: 400;
    color: #f1f1f1;
}

.foot-end-row img {
    width: 260px;
}

@media screen and (max-width:1010px) {
    .right-ul {
        display: none;
    }

    .container {
        width: 95%;
    }

    .left-icons {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .left-icons i {
        font-size: 17px;
        cursor: pointer;
    }

    .none {
        display: none;
    }

    .hero-image {
        height: 40vh;
    }

    .cards {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width:850px){
    .hero-content h2{
        font-size: 30px;
    }
}

@media screen and (max-width:770px) {
    .ap a{
        font-size: 14px;
    }
    .hero-image {
        justify-content: center;
        height: 30vh;
    }

    .hero-content h2{
        font-size: 25px;
    }

    .hero-content {
        width: 100%;
    }

    .left-image,
    .right-images {
        width: 100%;
    }

    .cards {
        width: calc((100% - 30px) / 2);
    }

    .cards2 {
        width: 100%;
    }

    .foot-end-row {
        flex-direction: column;
        gap: 10px;
    }

    .aside1 {
        width: 40%;
    }
}

@media screen and (max-width:576px) {
    .ap a{
        font-size: 11px;
    }
    .cards {
        width: 100%;
    }
    .hero-content h2{
        font-size: 22px;
    }
    .hero-content button{
        padding: 7px 18px;
    }
    .news li a{
        font-size: 13px;
    }

    .none2 {
        display: block;
    }

    .foot-input {
        width: 80%;
    }

    .foot-input input{
        width: 75%;
    }

    .sub {
        font-size: 12px;
        width: 25%;
    }

    .aside1 {
        width: 60%;
    }

    .foot-end-row h4 {
        font-size: 10px;
    }
}